<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>Nathaniel's ePortfolio</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.com/97fc45a0-9d07-419e-930f-3a5e0804d191%2Fapple-touch-icon.png?1525888428033">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.com/97fc45a0-9d07-419e-930f-3a5e0804d191%2Ffavicon-32x32.png?1525888427823">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.com/97fc45a0-9d07-419e-930f-3a5e0804d191%2Ffavicon-16x16.png?1525888428160">
    <link rel="manifest" href="https://cdn.glitch.com/97fc45a0-9d07-419e-930f-3a5e0804d191%2Fsite.webmanifest?1525888428542">
    <link rel="mask-icon" href="https://cdn.glitch.com/97fc45a0-9d07-419e-930f-3a5e0804d191%2Fsafari-pinned-tab.svg?1525888428714" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      @media only screen and (max-width: 1024px) {
        .hideIfMobile {
          display:none;
        }
      }
    </style>
  </head>
  <body style="background-image:url('https://cdn.glitch.com/97fc45a0-9d07-419e-930f-3a5e0804d191%2F97fc45a0-9d07-419e-930f-3a5e0804d191%252Flines-white-green-stripes-streaks-1920x1080-c3-ffffff-008000-228b22-l3-105-105-105-a-300-f-1.png?1528482994374');">
    <div id="vue-app">
      <div class="w3-top" style="margin-bottom:50px;">
        <div class="w3-bar w3-lightgrey w3-border" style="background-color:white;">
          <div v-if="pageToShow==='home'" v-on:click="showPage('home')" class="w3-bar-item w3-button w3-green w3-hover-green" style="width:20%;cursor:pointer"><i class="fa fa-home"></i><span class="hideIfMobile"> Home</span></div>
          <div v-else v-on:click="showPage('home')" class="w3-bar-item w3-button" style="width:20%;cursor:pointer"><i class="fa fa-home"></i><span class="hideIfMobile"> Home</span></div>
          <div v-if="pageToShow==='portfolio1'||pageToShow==='portfolio2'||pageToShow==='portfolio3'" v-on:click="showPage('portfolio1')" class="w3-bar-item w3-button w3-green w3-hover-green" style="width:20%;cursor:pointer"><i class="fa fa-folder"></i><span class="hideIfMobile"> Projects</span></div>
          <div v-else v-on:click="showPage('portfolio1')" class="w3-bar-item w3-button" style="width:20%;cursor:pointer"><i class="fa fa-folder"></i><span class="hideIfMobile"> Projects</span></div>
          <div v-if="pageToShow==='contact'" v-on:click="showPage('contact')" class="w3-bar-item w3-button w3-green w3-hover-green" style="width:20%;cursor:pointer"><i class="fa fa-envelope"></i><span class="hideIfMobile"> Contact</span></div>
          <div v-else v-on:click="showPage('contact')" class="w3-bar-item w3-button" style="width:20%;cursor:pointer"><i class="fa fa-envelope"></i><span class="hideIfMobile"> Contact</span></div>
          <a href="ow.html" class="w3-bar-item w3-button" style="width:20%;cursor:pointer"><i class="fa fa-globe"></i><span class="hideIfMobile"> Other Websites</span></a>
          <a href="https://github.com/natbergu/nb/tree/glitch" class="w3-bar-item w3-button" style="width:20%;cursor:pointer"><i class="fab fa-github"></i><span class="hideIfMobile"> Github Repository</span></a>
        </div>
      </div>
      <component v-bind:is=" 'home' " v-if="pageToShow==='home'"></component>
      <component v-bind:is=" 'contact' " v-if="pageToShow==='contact'"></component>
      <component v-bind:is=" 'portfolio1' " v-if="pageToShow==='portfolio1'"></component>
      <component v-bind:is=" 'portfolio2' " v-if="pageToShow==='portfolio2'"></component>
      <component v-bind:is=" 'portfolio3' " v-if="pageToShow==='portfolio3'"></component>
      <div v-if="pageToShow==='portfolio1'" class="w3-bar" style="margin-top:50px; margin-bottom:50px; text-align:center;">
        <div class="w3-button" style="background-color:white; border:solid;"><i class="fa fa-angle-double-left" style="color:gray;"></i></div>
        <div v-on:click="showPage('portfolio1')" class="w3-button" style="background-color:white; border:solid;"><b>1</b></div>
        <div v-on:click="showPage('portfolio2')" class="w3-button" style="background-color:white; border:solid;"><b>2</b></div>
        <div v-on:click="showPage('portfolio3')" class="w3-button" style="background-color:white; border:solid;"><b>3</b></div>
        <div v-on:click="showPage('portfolio2')" class="w3-button" style="background-color:white; border:solid;"><i class="fa fa-angle-double-right"></i></div>
      </div>
      <div v-if="pageToShow==='portfolio2'" class="w3-bar" style="margin-top:50px; margin-bottom:50px; text-align:center;">
        <div v-on:click="showPage('portfolio1')" class="w3-button" style="background-color:white; border:solid;"><i class="fa fa-angle-double-left"></i></div>
        <div v-on:click="showPage('portfolio1')" class="w3-button" style="background-color:white; border:solid;"><b>1</b></div>
        <div v-on:click="showPage('portfolio2')" class="w3-button" style="background-color:white; border:solid;"><b>2</b></div>
        <div v-on:click="showPage('portfolio3')" class="w3-button" style="background-color:white; border:solid;"><b>3</b></div>
        <div v-on:click="showPage('portfolio3')" class="w3-button" style="background-color:white; border:solid;"><i class="fa fa-angle-double-right"></i></div>
      </div>
      <div v-if="pageToShow==='portfolio3'" class="w3-bar" style="margin-top:50px; margin-bottom:50px; text-align:center;">
        <div v-on:click="showPage('portfolio2')" class="w3-button" style="background-color:white; border:solid;"><i class="fa fa-angle-double-left"></i></div>
        <div v-on:click="showPage('portfolio1')" class="w3-button" style="background-color:white; border:solid;"><b>1</b></div>
        <div v-on:click="showPage('portfolio2')" class="w3-button" style="background-color:white; border:solid;"><b>2</b></div>
        <div v-on:click="showPage('portfolio3')" class="w3-button" style="background-color:white; border:solid;"><b>3</b></div>
        <div class="w3-button" style="background-color:white; border:solid;"><i class="fa fa-angle-double-right" style="color:gray;"></i></div>
      </div>
    </div>

    <div style="display:none" id="home-page">
      <div>
        <div class="w3-panel w3-green" style="margin:75px 50px;">
          <h3>
            Welcome to Nathaniel Berger's ePortfolio!
          </h3>
          <h4>
            This is the place where most past, present and future projects by said person will be hosted. 
            This website is still under development and probably will stay under development for a long time.
          </h4>
        </div><div class="w3-panel w3-green" style="margin:75px 50px;">
          <h3>
            Nathaniel Berger
          </h3>
          <h4>
            Born in St. Paul's Hospital in Vancouver, B.C., Nathaniel 
          </h4>
        </div>
      </div>
    </div>
    
    <div style="display:none" id="portfolio-page-1">
      <div>
        <div onclick="location.href='https://drive.google.com/open?id=1JPgJb-z7jVN2lB1QUpgXmL3yIZr8zA24'" class="w3-bar w3-green w3-xxlarge" style="margin:auto;margin-top:75px;width:75%;text-align:center;padding:5%;cursor:pointer;">
          <p>
            <i class="fa fa-gamepad"></i> The Legend of Björn
          </p>
        </div>
        <div onclick="location.href='https://drive.google.com/open?id=1lBtZvaPgROW7IjnpQB8YFURh8JFehFfd'" class="w3-bar w3-green w3-xxlarge" style="margin:auto;margin-top:75px;width:75%;text-align:center;padding:5%;cursor:pointer;">
          <p>
            <i class="fa fa-gamepad"></i> Qube
          </p>
        </div>
      </div>
    </div>
    
    <div style="display:none" id="portfolio-page-2">
      <div>
        
      </div>
    </div>
    
    <div style="display:none" id="portfolio-page-3">
      <div>
        
      </div>
    </div>
    
    <div style="display:none" id="contact-page">
      <div>
        <div class="w3-panel w3-green" style="margin:75px 50px;">
          <h3>
            eMail
          </h3>
          <h4>
            current: <a href="mailto:ncwb2048@gmail.com">ncwb2048@gmail.com</a> <br>
            <h4 style="word-wrap:break-word;">past: nathaniel.cwb@outlook.com (no longer checking)</h4>
          </h4>
        </div>
        <div class="w3-panel w3-green" style="margin:75px 50px;">
          <h3>
            Cell
          </h3>
          <h4>
            <a href="tel:6043193227">(604) 319-3227</a>
          </h4>
        </div>
      </div>
    </div>

  </body>
      <script type="text/javascript">
      new Vue({
          el: '#vue-app',
          components: {
                home: {template: "#home-page"},
                contact: {template: "#contact-page"},
                portfolio1: {template: "#portfolio-page-1"},
                portfolio2: {template: "#portfolio-page-2"},
                portfolio3: {template: "#portfolio-page-3"}
            },
            data: data,
            methods: methods(),
      })
      function data(){
          return {
              someData: true,
              pageToShow: 'home'
          };
      }
      function methods(){
        return {
          showPage
        }
        function showPage(page){
          var vm = this;
          vm.pageToShow = page;
        }
      }
    </script>
</html>