.navBar, .pageSelButton {
  background-color: #fff;
}
@media only screen and (max-width:1023px) {
  .hideIfMobile {
  display: none;
}
.smallerFont {
  font-size: 1rem;
}
}.overrideBoxSizing {
  box-sizing: content-box;
}
body {
  background-image: url(../img/bg.png);
}
.panelMargin {
  margin: 75px 50px;
}
.gameLink {
  margin: 75px auto auto;
  width: 75%;
  text-align: center;
  padding: 5%;
  cursor: pointer;
}
.pageSelector {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.pageSelButton {
  border: solid;
}